In [1]:
import pandas as pd
my_se=pd.Series([10,20,30])
my_se

0    10
1    20
2    30
dtype: int64

In [2]:
my_se[2]

30

In [3]:
my_se1 = pd.Series([10,20,30], index=['Samsung',"Naver", 'LG'])
my_se1

Samsung    10
Naver      20
LG         30
dtype: int64

In [5]:
my_se1["LG"]

30

In [6]:
len(my_se1)

3

In [4]:
my_se1.min()

10

In [5]:
my_se1.max()

30

In [6]:
my_se1.where(my_se1 > 15)

Samsung     NaN
Naver      20.0
LG         30.0
dtype: float64

In [9]:
my_se1.where(my_se1 > 15).dropna()  #NaN 제거하기

Naver    20.0
LG       30.0
dtype: float64

In [10]:
my_se1.where(my_se1 == my_se1.max())

Samsung     NaN
Naver       NaN
LG         30.0
dtype: float64

In [11]:
my_se1.where(my_se1 == my_se1.max()).dropna()

LG    30.0
dtype: float64

In [12]:
my_se1.sort_values(ascending = False).head(1)

LG    30
dtype: int64

In [13]:
my_se1.sort_values()

Samsung    10
Naver      20
LG         30
dtype: int64

In [14]:
my_se1.sort_index()

LG         30
Naver      20
Samsung    10
dtype: int64

In [15]:
my_se.sort_values(ascending=False)

2    30
1    20
0    10
dtype: int64

In [16]:
my_se.sort_index()

0    10
1    20
2    30
dtype: int64

In [17]:
buy_stock = pd.Series([20,20,30], index=['Samsung', 'Naver', 'Kakao'])
buy_stock

Samsung    20
Naver      20
Kakao      30
dtype: int64

In [19]:
my_se1 + buy_stock #my_se1 = pd.Series([10,20,30], index=['Samsung',"Naver", 'LG'])

Kakao       NaN
LG          NaN
Naver      40.0
Samsung    30.0
dtype: float64

In [20]:
my_se1.add(buy_stock)

Kakao       NaN
LG          NaN
Naver      40.0
Samsung    30.0
dtype: float64

In [21]:
new_my_se1= my_se1.add(buy_stock, fill_value=0)
new_my_se1

Kakao      30.0
LG         30.0
Naver      40.0
Samsung    30.0
dtype: float64

In [22]:
new_my_se2= new_my_se1.astype('int64')
new_my_se2

Kakao      30
LG         30
Naver      40
Samsung    30
dtype: int64

In [23]:
m=pd.Series([10,20,30], index=['lg', 'skt', 'kt'])
y=pd.Series([10,20,30,8], index=['kt', 'lg', 'skt','o'])
merge=m+y
print(merge)

kt     40.0
lg     30.0
o       NaN
skt    50.0
dtype: float64

In [25]:
merge= m.add(y, fill_value=0)
print(merge)

kt     40.0
lg     30.0
o       8.0
skt    50.0
dtype: float64